/* Giving our navbar some padding and a background color */
/*.navbar {
  padding: 10px;
  background: #5191fd;
}*/

/*This isn't working.*/

.navbar-brand {
  color: #000;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: #ff0000;
    font-family: "Georgia", Times New Roman, Times, serif;
    font-size: 24px;
    font-weight: 600;
        /*padding: 20px;*/
}

.navbar-header{
    width:400px;
    /*margin-left:8.3333% !important;*/
    margin-left:75px !important;
}
.content{
    margin-top:100px;
}

/*.dropdown {
  position: relative;
}*/


h1 {
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 28px;
    font-weight: 600;
	/*color: #eee;*/
	/*font-size: 28px;*/
	/*text-align: center;*/
	/*padding: 15px;*/
}

h2 {
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 24px;
    font-weight: 600;
	/*font-size: 24px;*/
}

.box {
  /*height: 700px;*/
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

/*Controls paragraph text in summary (left) box on landing page*/
#summary {
  font-size: 17px;

}

/*Controls image in summary (left) box on landing page*/
#temp-sample {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px 20px;
}

#landing-viz {
  width: 125px;
  height: 125px;
  margin: 20px 20px 20px 20px;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}