.navbar-brand {
  color: #000;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: #ff0000;
    font-family: "Georgia", Times New Roman, Times, serif;
    font-size: 24px;
    font-weight: 600;
        /*padding: 20px;*/
}

.navbar-header{
    width:400px;
    /*margin-left:8.3333% !important;*/
    margin-left:75px !important;
}


/* This section not working! */
.navbar-header .navbar-toggle .collapsed {
  float: right;
}

.content{
    margin-top:100px;
}

/*.dropdown {
  position: relative;
}*/


h1 {
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 28px;
  font-weight: 600;
	/*color: #eee;*/
	/*text-align: center;*/
	/*padding: 15px;*/
}

h2 {
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 24px;
  font-weight: 600;
}

h3 {
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.box {
  /*height: 700px;*/
  color: #fff;
  background: deepskyblue;
}

.box-left {
  padding: 20px;
}

.box-right {
  padding: 30px;
}

.box-single {
  padding: 50px;
  margin: 70px;
}

/*Controls paragraph text in summary (left) box on landing page*/
#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.8em;
}

/*Controls image in summary (left) box on landing page*/
#temp-sample {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px 20px;
}

/*Controls 4 small images in right box */
#landing-viz {
  /*width: 125px;
  height: 125px;*/
  padding:15px 15px 15px 15px;
  /*margin: 15px 15px 15px 15px;*/
  width: 100%;
  height: 100%;
}

/*.figure:active{
  border: 5px solid red;
}*/

/*Controls large central image on analysis pages */
#viz-main {
  padding: 25px 40px 30px 40px;
  width: 100%;
  /*width: 100%;
  height: 200px;
  margin: 10px 20px;*/
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}